body {
    margin: auto;
    max-width: 55em;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.list ul {
    list-style-type: none;
    padding: 0;
}

.list li *{
    display: block;
    text-decoration: none;
    padding: 15px 5px;
    color: black;
    border-left: 5px solid sandybrown;
    font-size: 20px;
}

.list li *:hover {
    background-color: sandybrown;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: sandybrown;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.nav li {
    float: left;
}

.nav li * {
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 14px 5px;
}

.nav li a:hover {
    background-color: sandybrown;
}

.header {
    padding: 0 50px;
}

.header:hover{
    background: sandybrown;
}

.login {
    text-align: right;
}

.search_form {
    text-align: right;
}

h2 {
    font-size: 28px;
}

fieldset {
    border: 5px solid sandybrown;
    border-radius: 10px;
}

legend {
    font-weight: bold;
}

.infobox {
    border: 5px solid sandybrown;
    background: sandybrown;
    border-radius: 10px;
    padding: 10px 0;
    color: white;
}

.infobox p {
    font-size: 20px;
    padding: 0 10px;
}

.infobox a {
    color: white;
}
