{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block navigation %}><a href="/course/{{ course_id }}/">Takaisin kurssille</a>{% endblock %}
{% block content %}
<h2>Kysymykset</h2>
<form action="/exercise/{{ exercise_id }}/save_changes" method="POST">
    <input type="hidden" name="exercise_id" value="{{ exercise_id }}">
    {% for question in questions %}
        {% if question[2]==True %}
            <p>Kysymys:<input type="text" name="question_{{ question[0] }}" value="{{ question[1] }}">
            <input type="checkbox" name="question_{{ question[0] }}_remove" value="1"> Poista kysymys</p> 
            <p>Vastausvaihtoehdot:</p>
            {% for choice in question[5] %}
                <p><input type="text" name="question_{{ question[0] }}_{{ choice[0] }}" value="{{ choice[1] }}"></p>
            {% endfor %}
            <p>Vastaus:<input type="text" name="question_{{ question[0] }}_answer" value="{{ question[3] }}"></p> 
        {% else %}
            <p>Kysymys:<input type="text" name="question_{{ question[0] }}" value="{{ question[1] }}">
            <input type="checkbox" name="question_{{ question[0] }}_remove" value="1"> Poista kysymys</p> 
            <p>Vastaus: <input type="text" name="question_{{ question[0] }}_answer" value="{{ question[3] }}"></p>
        {% endif %}
        <hr>
    {% endfor %}
    <p>
    <input type="submit" value="Tallenna muutokset">
</form>
{% endblock %}
