{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}

{% block navigation %}
    <li><span>></span></li>
    <li><a href="/course/{{ course[0] }}/">{{ course[1] }}</a></li>
    <li><span>></span></li>
    <li><span>{{ exercise[1] }}</span></li>
{% endblock %}

{% block content %}
    <div class="navbar">
        <ul>
            {% if session.user_id == course[2] or session.admin == True  %}
                <li><a href="/course/{{ course[0] }}/attendees">Opiskelijat</a></li>
                <li><a href="/course/{{ course[0] }}/editexercises">Poista tehtäviä</a></li>
            {% else %}
                <li><a href="/course/{{ course[0] }}/attendees/{{ session.user_id }}">Omat tulokset</a></li>
            {% endif %}
            <li style="float:right"><a href="/logout">Kirjaudu ulos</a></li>
        </ul>
    </div>
    <br>
    <h2>Kysymykset</h2>
    <form action="/answer" method="POST">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="hidden" name="exercise_id" value="{{ exercise[0] }}">
        {% for question in questions %}
            <div class="infobox">
            {% if question[2]==True %}
                <p>Kysymys: {{ question[1] }}</p> 
                {% for choice in question[5] %}
                    <p><input type="radio" name="answer_{{ question[0] }}" value="{{ choice[1] }}"> {{ choice[1] }}</p>
                {% endfor %}
            {% else %}
                <p>Kysymys: {{ question[1] }}</p> 
                <p>Vastaus: <input type="text" name="answer_{{ question[0] }}" size="50"></p>
            {% endif %}
            </div>
            <br>
        {% endfor %}
        <p>
        <input type="submit" value="Lähetä vastaukset">
    </form>
{% endblock %}
