{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<div class="navbar">
    <ul>
        <li><a href="/registeredcourses">Omat kurssit</a></li>
        {% if session.admin == True %}
        <li><a href="/newcourse">Lisää kurssi</a></li>
        <li><a href="/teachers">Lisää opettaja</a></li>
        <li><a href="/editcourses">Poista kursseja</a></li>
        {% endif %}
    </ul>
</div>
<h2>Kurssit</h2>
<div class="search_form">
    <form action="/searchcourses" method="GET">
        <input type="text" name="searchword">
        <input type="submit" value="Etsi kursseja">
    </form>
</div>
<form action="/removecourses" method="POST">
    <ul>
    {% for course in courses %}
        <li><a href="/course/{{ course[0] }}/">{{ course[1] }}</a>
        {% if remove_courses == True %}
            <input type="checkbox" name="course_{{ course[0] }}_remove" value="1"> Poista kurssi
        {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% if remove_courses == True %}
        <p><input type="submit" value="Poista valitut"></p>
    {% endif %}
</form>
{% endblock %}

