<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} - Noodle</title>
    </head>

    <body>
        <div class="header">
            <img src="{{ url_for('static', filename='noodle_logo.PNG') }}" width="390" height="243"></img>
        </div>
        <div class="login">
            <p>Olet kirjautunut nimellä {{ session.username }}</p>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/">Etusivu</a></li>{% block navigation %}{% endblock %}
            </ul>
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
