<form action="/login" method="POST">
    <fieldset>
        <legend>Kirjaudu sisään</legend>
        <p>Tunnus:<br>
        <input type="text" name="username"></p>
        <p>Salasana:<br>
        <input type="password" name="password"></p>
        <input type="submit" value="Kirjaudu">
    </fieldset>
</form>
<form action="/signup" method="POST">
    <fieldset>
        <legend>Rekisteröidy</legend>
        <p>Tunnus:<br>
        <input type="text" name="username"></p>
        <p>Salasana:<br>
        <input type="password" name="password"></p>
        <input type="submit" value="Rekisteröidy">
    </fieldset>
</form>
