{% extends "layout.html" %}
{% block title %}Ilmoittaudu kurssille{% endblock %}
{% block navigation %}>{{ course[1] }}{% endblock %}
{% block content %}
<h2>Ilmoittaudu kurssille</h2>
{% if course_key == True %}
    <form action="/course/{{ course[0] }}/register" method="POST">
        <fieldset>
            <p>Tämä kurssi on suojattu kurssiavaimella.</p>
            <p>Kurssiavain: <input type="text" name="course_key"><input type="submit" value="Ilmoittaudu"></p>
            {% if course_key_error == True %}
                <p>Virheellinen kurssiavain</p>
            {% endif %}
        </fieldset>
    </form>
{% else %}
    <form action="/course/{{ course[0] }}/register" method="POST">
        <fieldset>
            <p>Tämä kurssi on kaikille avoin.</p>
            <p><input type="submit" value="Ilmoittaudu"></p>
        </fieldset>
    </form>
{% endif %}
{% endblock %}
