<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kirjaudu sisään - Noodle</title>
    </head>
    <body>
        <div class="header">
            <img src="{{ url_for('static', filename='noodle_logo.PNG') }}" width="390" height="243"></img>
        </div>
        <div class="navbar">
            <ul>
                <li style="float:right"><a href="/loginform">Kirjaudu sisään</a></li>
            </ul>
        </div>
        <div class="forms">
            <form action="/signup" method="POST">
                <fieldset>
                    <legend>Rekisteröidy</legend>
                    <p>Tunnus:<br>
                    <input type="text" name="username"></p>
                    <p>Salasana:<br>
                    <input type="password" name="password"></p>
                    <p><input type="submit" value="Rekisteröidy">
                    {% if signup_error == True %}
                        <br>Virheellinen käyttäjätunnus tai salasana
                    {% elif username_duplicate == True %}
                        <br>Käyttäjätunnus varattu
                    {% elif signup_error == False %}
                        <br>Käyttäjä lisätty tietokantaan
                    {% endif %}</p>
                </fieldset>
            </form>
        </div>
    </body>
</html>
