{% extends "layout.html" %}
{% block title %}Luo uusi kurssi{% endblock %}

{% block content %}
    <div class="navbar">
        <ul>
            <li><a href="/registeredcourses">Omat kurssit</a></li>
            {% if session.admin == True %}
                <li><a href="/newcourse">Lisää kurssi</a></li>
                <li><a href="/teachers">Lisää opettaja</a></li>
                <li><a href="/editcourses">Poista kursseja</a></li>
            {% endif %}
            <li style="float:right"><a href="/logout">Kirjaudu ulos</a></li>
        </ul>
    </div>
    <br>
    <form action="/addteacher" method="POST">
        <fieldset>
            <legend>Lisää käyttäjä opettajaksi</legend>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <p>Käyttäjätunnus: <input type="text" name="username">
            <input type="submit" value="Lisää opettajaksi"><p>
            {% if error == True %}
                <p>Virheellinen syöte</p>
            {% elif error == False %}
                <p>Käyttäjä lisätty opettajaksi</p>
            {% endif %}
        </fieldset>
    </form>
    <h3>Unohtuiko käyttäjätunnus?</h3>
    <form action="/searchusers" method="GET">
        <input type="text" name="searchword">
        <input type="submit" value="Etsi käyttäjiä">
    </form>
    <div class="list">
        <ul>
            {% for user in users %}
                <li><span>{{ user[1] }}</span></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
